/.idea/*
/smarthome-backend/.idea/*
*.iml
/smarthome-backend/target/
/smarthome-backend/WebRoot/WEB-INF/classes
/smarthome-backend/WebRoot/WEB-INF/lib
/smarthome-backend/WebRoot/META-INF/MANIFEST.MF
*/META-INF/*
/smarthome-backend/WebRoot/temp
/smarthome-backend/.settings/org.eclipse.core.resources.prefs
.DS_Store
